// font
$spotify-gray-text: #b3b3b3;
$base-font-size: 14px;
$bold-font-weight: 700;
$normal-font-weight: 400;
$small-font-size: 11px;

// margin & padding
$sidebar-left-margin: -27%;

// animation
$hover-highlight-transition: color 0.2s ease;
